@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    <h>Kontakt os</h>
    <p>Her kan du finde vores kontaktinformationer</p>
    <p>Navn: Karen</p>
    <p>Email: Karen@IBAS.dk</p>
    <p>Telefon: 12345678</p>
    
}
