@page
@using WeeklyMenu
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <p class="lead">Velkommen til IBAS Kantinen</p>
    <p>Her kan du se vores menu for uge 45</p>
    <p>Vi har åbent fra 11:00 til 13:00</p>
    <p>Vi glæder os til at se dig</p>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        @foreach (var item in Model.Menu)
        {
            <tr>
                <td>@item.UgeDag</td>
                <td>@item.VarmRet</td>
                <td>@item.KoldRet</td>
            </tr>
        }
    </table>
</div>